<%= form_tag url, method: :get, class: 'search-query-form form-inline', role: 'search' do %>
  <% if params[:search_field] != 'advanced' %>
    <%= render Blacklight::HiddenSearchStateComponent.new(params: hidden_field_params) %>
  <% end %>
  <div class="input-group">
    <% if search_fields.length > 1 %>
      <label for="search_field" class="sr-only">Search Field</label>
      <span class="input-group-prepend for-search-field">
        <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), title: t('blacklight.search.form.search_field.title'), id: "search_field", class: "search_field form-control") %>
      </span>
    <% elsif search_fields.length == 1 %>
      <%= hidden_field_tag :search_field, search_fields.first.last %>
    <% end %>

    <label for="q" class="sr-only">Query</label>
    <%= text_field_tag :q,
      @params[:q],
      placeholder: "Search the collection",
      class: "search_q form-control", # q
      id: "q",
      'aria-label': t('blacklight.search.form.search.label'),
      data: {
        autocomplete_enabled: autocomplete_path.present?,
        autocomplete_path: autocomplete_path
      }
    %>
  </div>

  <span class="input-group input-group-btn">
    <label for="search" class="sr-only"><%= t('blacklight.search.form.submit') %></label>
    <button type="submit" class="btn btn-primary search-btn" id="search">
      <span>Search</span>
      <span class="glyphicon glyphicon-search"></span>
    </button>
  </span>
<% end %>
