<%
  borealis_doc = MDL::BorealisDocument.new(document: document)
  manifest_url = borealis_doc.manifest_url
%>

<div class="metadata" data-metadata='<%= document_metadata(document).to_json %>'></div>

<%= content_tag :div,
  id: "viewer_data",
  citationConfig: @citation_config.to_json do %>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div id="uv" class="uv" style="height: 768px;"></div>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <%= render 'rights_statement', config: MDL::RightsConfig.new(url: document['rights_uri_ssi']) %>
    <div id="react-citation-viewer" ></div>
  </div>
  <div class="col-md-3">
    <div id="sidebar">
      <%= render_document_sidebar_partial(@document) %>
    </div>
  </div>
</div>

<%= render partial: 'map_view',
  locals: {
    coordinates: @document['coordinates_llsi'],
    map_id: 'full_record_map',
    with_popup: true
  }
%>

<% content_for(:head) do %>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/DanOlson/uv-dist@077b9f9f19a1015e7b8aae49a70c48c126c15800/dist/uv.css"
  />
  <script
    type="application/javascript"
    src="https://cdn.jsdelivr.net/gh/DanOlson/uv-dist@077b9f9f19a1015e7b8aae49a70c48c126c15800/dist/umd/UV.js"
  ></script>
  <script type="text/javascript">window.$ = jQuery;</script>
<% end %>

<% content_for(:webpack_bundles) do %>
  <%= javascript_pack_tag 'drawMap' %>
  <%= javascript_pack_tag 'citation' %>
<% end %>

<% content_for(:blocking_javascript) do %>
  <script type="text/javascript">
    function getQueryParams() {
      const url = window.location.href;
      const params = new URLSearchParams((new URL(url)).search);
      const obj = {};

      for (const [key, value] of params.entries()) {
          obj[key] = value;
      }

      return obj;
    }
    const queryParams = getQueryParams();
    if (queryParams.uvcv && queryParams.uvcv.length) {
      window.location.hash = `?${queryParams.uvcv}`;
    }

    const urlAdapter = new UV.IIIFURLAdapter();
    const collectionIndex = urlAdapter.get("c");
    // If we were given a legacy anchor, such as #/image/4, parse
    // out the 4 and use it as the canvasIndex in the UV config.
    const legacyAnchorMatch = /\/image\/(\d+)$/.exec(window.location.hash) || [0];
    let canvasIndexFallback = queryParams.uvcv || legacyAnchorMatch.pop();
    if (legacyAnchorMatch.length) {
      window.location.hash = '';
    }

    const data = {
      manifest: "<%= manifest_url %>",
      collectionIndex: (collectionIndex !== undefined) ? Number(collectionIndex) : undefined,
      canvasIndex: Number(urlAdapter.get("cv", canvasIndexFallback)),
      manifestIndex: Number(urlAdapter.get("m", 0)),
      rotation: Number(urlAdapter.get("r", 0)),
      rangeId: urlAdapter.get("rid", ""),
      xywh: urlAdapter.get("xywh", ""),
      target: urlAdapter.get("target", "")
    };

    const uv = UV.init("uv", data);
    urlAdapter.bindTo(uv);

    uv.on("configure", ({ config, cb}) => {
      cb({
        options: {
          dropEnabled: true,
          footerPanelEnabled: true,
          headerPanelEnabled: true,
          leftPanelEnabled: true,
          limitLocales: false,
          overrideFullScreen: false,
          pagingEnabled: true,
          rightPanelEnabled: true,
          termsOfUseEnabled: true,
          zoomToSearchResultEnabled: true,
          zoomToBoundsEnabled: false
        },
        modules: {
          downloadDialogue: {
            options: {
              downloadCurrentViewEnabled: false,
              downloadWholeImageHighResEnabled: false
            }
          },
          headerPanel: {
            options: {
              localeToggleEnabled: false
            }
          },
          moreInfoRightPanel: {
            options: {
              manifestDisplayOrder: "Contributing Organization,Title,Creator,Contributor,Description,Date of Creation,Dimensions,Minnesota Reflections Topic,Item Type,Item Physical Format,Formal Subject Headings,Locally Assigned Subject Headings,Minnesota City or Township,Minnesota County,State or Province,Country,GeoNames URI,Language,Local Identifier,Fiscal Sponsor,Rights Management,Contact Information"
            }
          },
          seadragonCenterPanel: {
            options: {
              autoHideControls: false,
              requiredStatementEnabled: false
            }
          },
          avCenterPanel: {
            options: {
              requiredStatementEnabled: false
            }
          },
          centerPanel: {
            options: {
              requiredStatementEnabled: false
            }
          },
          searchFooterPanel: {
            options: {
              positionMarkerEnabled: true,
              pageModeEnabled: false
            }
          },
          footerPanel: {
            options: {
              downloadEnabled: true
            }
          }
        }
      });
    });
  </script>
<% end %>
